<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio ZONEAT</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="general.html">
    <link rel="stylesheet" href="vegano.html">
    <link rel="stylesheet" href="freeGluten.html">
</head>

<body>
    <header class="header">
        
        <img class="bg" src="img/bg.png" alt="">
        <div class="menu container">
            
            <img src="img/LOGO/Logo-Tipo_Apaisado.png" alt="" style="padding-top: 10px; margin: 10px;" width="200"> 
            
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="img/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="registro.html">Registra tu Local</a></li>
                </ul>
            </nav>
            
                <a href="login.html" class="btn-1">Iniciar Sesión</a>
            </div>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1 style="margin-top: 90px;"><br><span>Bienvenidos a ZONEAT</span> <br> Disfruta de nuestras recomendaciones</h1>
                <p>
                    ¿Se te antoja algo especial? Descubre nuevos sabores y experiencias gastronómicas personalizadas en tu zona. ¡ZONEAT te guía!
                </p>
                <a href="quienesSomos.html" class="btn-1">¿Que es ZONEAT?</a>
            </div>
            <div class="header-img">
                <img src="img/pl-1.png"  width="500px" alt="">
            </div>

        </div>


    </header>

    <!-- Sección para... -->
    <section class="breakfast container">
        <h2 style="text-align: center;">Categorías</h2>
        <div class="breakfast-content">

            <div class="breakfast-1">
                <img src="img/b1.png" alt="">
                <a href="general.html"><h3>General</h3></a>
            </div>
            <div class="breakfast-1">
                <img src="img/b2.png" alt="">
                <a href="vegano.html"><h3>Vegano</h3></a>
            </div>
            <div class="breakfast-1">
                <img src="img/b3.png" alt="">
                <a href="freeGluten.html"><h3>Gluten Free</h3></a>
            </div>
        </div>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d415.80316381413013!2d-70.59795116142705!3d-33.516326118285306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0677c7d2355%3A0xa7aef48469ddd461!2sDuoc%20UC%3A%20Sede%20Plaza%20Vespucio!5e0!3m2!1ses-419!2scl!4v1717439465004!5m2!1ses-419!2scl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <!-- Sección que dice "Proximamente nuestra App" -->
    <section class="app container">
        
        <div class="app-txt">
            <h2>Proximamente nuestra App</h2>
            <p>
                Para acompañar a los amantes de la gastronomía en sus aventuras culinarias, ZONEAT pronto lanzará su app móvil. Así, podrás descubrir y disfrutar de los mejores platos que se adapten a tus gustos y necesidades, estés donde estés.
            </p>
            <div class="descarga">
                <img src="img/store1.png" alt="">
                <img src="img/store2.png" alt="">
            </div>
        </div>

        <div class="app-img">
            <img src="img/app.png" alt="">
        </div>

    </section>

    <!-- FOOTER -->
    <footer id="footer-inicio" class="footer">

        <div class="footer-content container">
            <div class="link">
                <h3>Contactos</h3>
                <ul>
                    <li><a href="#">+56 9 5451 2548</a></li>
                    <li><a href="#">+56 2 5478 5545</a></li>

                    
                </ul>
            </div>

            <div class="link">
                <h3>Correo</h3>
                <ul>
                    <li><a href="#">contacto@zoneat.cl</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Ubicación</h3>
                <ul>
                    <li><a href="#">Dr. Manuel Barros Borgoño 71 OF 1306, 
                                    <br>7500593 Providencia, Región Metropolitana</a></li>
            </div>

        </div>

    </footer>


    <!-- <script src="script.js"></script> -->
</body>

</html>